* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;

}

.w_100 {
    width: 100%;
}

.d_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    justify-content: center;
}


.team {
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    font-family: 'Work Sans',
        sans-seri;
    margin-bottom: 25px;
    margin-top: 100px;
}

.box {
    position: relative;
    overflow: hidden;
    padding: -12px;

}
.post_relative{
    position: relative;
}

.box:hover .icon_hover {
    right: 0;
}

.icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6%;
    right: -50%;
    transition: all 0.5s;

}

.width_icon {
    max-width: 40px;
}

.we_have {
    font-size: 39.06px;
    font-weight: 600;
    color: #373737;
    font-family: 'Work Sans',
        sans-seri;
    margin-bottom: 50px;
}

.red_color {
    color: #FF5300;
}

.name {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Work Sans',
        sans-seri;
}

.work {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans',
        sans-seri;
    color: #7B7B7B;
}


.col_1 {
    width: 8.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_2 {
    width: 16.66;
    padding-left: 12px;
    padding-right: 12px;
   
}

.col_3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_4 {
    width: 33.33;
    padding-left: 12px;
    padding-right: 12px;
}

.col_5 {
    width: 41.66;
    padding-left: 12px;
    padding-right: 12px;
}

.col_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_10 {
    width: 83.33%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 20px;
}

.col_11 {
    width: 91.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

@media (min-width:304px) {
    .col_esm_6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 20px;
    }
}

@media (min-width:576px) {
    .col_sm_4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 20px;
    }
}

@media (min-width:768px) {
    .col_md_3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 20px;
    }
}

@media (min-width:992px) {
    .col_lg_2 {
        width: 16.66%;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 20px;
    }
}
